body{
    font-family: Helvetica, sans-serif;
    padding: 10px;
    font-size: 14px;
    line-height: 16px;
    width: 600px;
    margin: 0 auto;
}

::-moz-selection {
	background-color: #FFC22C;
	text-shadow: 0 1px 1px #fff;
}

::selection {
	background-color: #FFC22C;
	text-shadow: 0 1px 1px #fff;
}

a{
	color: #0CB225;
	text-decoration: none;
	background: #fff;
}
a:hover{
	text-decoration: underline;
}
a:visited{
	background: #f0f0f0 !important;
}

p{
	line-height: 18px;
}

p.note{
	font-size: 11px;
	font-style: italic;
}

h1, h2, h3{
	font-family: 'Lato', sans-serif;
	font-style: italic;
	font-weight: bold;
}

h1{
	color: #E1182F;
	font-size: 30px;
	border-top: 1px solid #ddd;
	padding-top: 15px;
	background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.075), rgba(0,0,0,0) 20%);
	background-image: -moz-linear-gradient(top, rgba(0,0,0,0.075), rgba(0,0,0,0) 20%);
	background-image: linear-gradient(top, rgba(0,0,0,0.075), rgba(0,0,0,0) 20%);
}

h1.title{
	font-size: 34px;
	margin-bottom: 40px;
	border-top: 0;
	padding-top: 0;
	background: transparent;
	text-shadow: 0 2px #AD001E;
}

h2{
	color: #4A76E6; /*0CB225*/
	padding-top: 15px;
	font-size: 24px;
}

#nav{
	list-style: none;
	padding: 0;
	height: 25px;
}
#nav li{
	float: left;
	height: 20px;
}
#nav li a{
	position: relative;
	top: 0;
	display: block;
	height: 30px;
	line-height: 30px;
	padding: 0 20px;
	margin: 0 5px 0 0;
	background: #0CB225 !important;
	font-family: 'Lato', sans-serif;
	font-style: italic;
	font-size: 16px;
	font-weight: bold;
	color: #fff;
	border-radius: 2px;
	-moz-transition: 	all 0.1s linear;
	-webkit-transition: all 0.1s linear;
	transition: 		all 0.1s linear;
	-webkit-box-shadow: 0 0 0 #17961A;
	-moz-box-shadow: 0 0 0 #17961A;
	box-shadow: 0 0 0 #17961A;
}
#nav li a:hover{
	background-color: #1AC018 !important;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.35);
	top: -2px;
	text-decoration: none;
	-webkit-box-shadow: 0 2px 0 #17961A;
	-moz-box-shadow: 0 2px 0 #17961A;
	box-shadow: 0 2px 0 #17961A;
}
#nav li a:active{
	top: 0;
	-webkit-box-shadow: 0 0 0 #17961A;
	-moz-box-shadow: 0 0 0 #17961A;
	box-shadow: 0 0 0 #17961A;
}

.map{
    width: 600px;
    height: 400px;
    border: 1px solid #000;
    margin-bottom: 20px;
}

.map p{
	margin: 10px;
	color: #333;
}

pre{
	border-radius: 3px;
	font-size: 12px;
	padding: 10px;
	/*word-wrap: break-word;*/
	overflow: auto;
	-moz-transition: all 0.2s linear;
	-webkit-transition: all 0.2s linear;
	transition: all 0.2s linear;
}
pre:hover{
	background-color: #F2F7F8;
	border-color: #D2DFEA;
}
pre,
code{
	border: 1px solid #ddd;
	background-color: #f6f6f6;
}

#footer{
	padding: 5px 0 0;
	border-top: 1px solid #ccc;
	font-size: 12px;
}
#footer p{
	margin: 5px 0;
}