body{
    font-family: Helvetica, sans-serif;
    padding: 10px;
    font-size: 14px;
    line-height: 16px;
    width: 600px;
    margin: 0 auto;
}

a{
	color: #0CB225;
	text-decoration: none;
	background: #fff;
}
a:hover{
	text-decoration: underline;
}
a:visited{
	background: #f0f0f0 !important;
}

p{
	line-height: 18px;
}

h1, h2, h3{
	font-family: 'Lato', sans-serif;
	font-style: italic;
	font-weight: bold;
}

h1{
	color: #E1182F;
	font-size: 30px;
	border-top: 1px solid #d0d0d0;
	padding-top: 15px;
}

h1.title{
	font-size: 34px;
	margin-bottom: 40px;
	border-top: 0;
	padding-top: 0;
	background: transparent;
}

h2{
	color: #4A76E6; /*0CB225*/
	padding-top: 15px;
	font-size: 24px;
}

#nav{
	list-style: none;
	padding: 0;
	height: 25px;
}
#nav li{
	float: left;
	height: 20px;
}
#nav li a{
	display: block;
	height: 30px;
	line-height: 30px;
	padding: 0 20px;
	margin: 0 5px 0 0;
	background: #0CB225 !important;
	font-family: 'Lato', sans-serif;
	font-style: italic;
	font-size: 16px;
	font-weight: bold;
	color: #fff;
}

.map{
    width: 600px;
    height: 400px;
    border: 1px solid #000;
    margin-bottom: 20px;
}

.map p{
	margin: 10px;
	color: #333;
}

pre{
	font-size: 12px;
	padding: 10px;
	/*word-wrap: break-word;*/
	overflow: auto;
}
pre,
code{
	border: 1px solid #ddd;
	background-color: #f6f6f6;
}

#footer{
	border-top: 1px solid #ccc;
}